.accordion-item-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 15px;
}

.accordion-button {
  width: 60%;
  padding: 15px;
  background: var(--color-primary); /* #1e293b o‘rniga */
  color: var(--color-white);        /* white o‘rniga */
  box-shadow: var( --dark-shadow-default);
  font-size: 1.3rem;
  text-align: left;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

.accordion-arrow {
  margin-left: 10px;
}

.accordion-answer-box {
  width: 35%;
  background: var(--bg-acardion);
  padding: 15px;
  border-radius: 8px;
}

.accordion-answer {
  color: var(--color-primary); 
  font-size: 15px;
  margin: 0;
}
.dark{
.accordion-button {
  
background: #284754;
background: linear-gradient(90deg, rgba(40, 71, 84, 1) 0%, rgba(30, 66, 43, 1) 50%, rgba(40, 71, 84, 1) 100%); 
  color: var(--color-white);        
  box-shadow: var( --light-shadow-default);
}


.accordion-answer-box {
background: linear-gradient(90deg, rgba(40, 71, 84, 1) 0%, rgba(30, 66, 43, 1) 50%, rgba(40, 71, 84, 1) 100%);
  box-shadow: var(--dark-shadow-default);   
  box-shadow: var( --light-shadow-default);

}

.accordion-answer {
  color: var(--color-white);
}
}