.faq__section-container{
  padding: 5rem;
  background-color: #f9fbfd;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  box-sizing: border-box
}


.faq-item {
  background-color: white;
  border-radius: 8px;
  margin-bottom: 12px;
  padding: 16px 20px;
  border: 1px solid #e5e7eb;
  cursor: pointer;
  transition: background-color 0.3s;
}

.faq-item:hover {
  background-color: #f3f4f6;
}

.faq-question {
  font-size: 1.2rem;
  font-weight: 600;
  color: #111827;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq-answer {
  font-size: 14px;
  margin-top: 8px;
  color: #4b5563;
}
