.footer {   
  padding: 0.5rem 0;
  text-align: center;
  border-top: 1px solid var(--color-secondary);
}   
.footer__text {
  font-size: 1rem;
  color: #666;
}
.dark{  
.footer__text {
  color: var(--color-accent);
} 
}